@use '../abstracts';

.auth{
    display: flex;
    height: 100vh;

    &__intro,
    &__content{
        flex: 1;
        padding: 0 30px;
    }

    &__intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        background: var(--auth-intro-bg-color);

        &-text{
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            max-width: 412px;
            text-align: center;
            color: var(--auth-intro-text-color);
        }

        &-img{
            width: min(424px, 100%);
        }
    }

    &__content{
        background: var(--auth-content-bg-color);

        &-inner{
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;
        }
    }

    &__heading{
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-heading-color);
        margin-top: 50px;
    }

    &__desc{
        color: #9E9DA8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        margin-top: 10px;
        padding: 0 14px;
    }

    &__link{
        color: #0071DC;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__text{
        margin-top: 108px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
        color: #9E9DA8;

        &-link{
            font-size: inherit;
        }
    }

    &__form{
        width: 100%;
        margin-top: 30px;
    }

    &__btn-group{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
}