html.dark{
    --text-color: white;
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(32%) saturate(62%) hue-rotate(195deg) brightness(119%) contrast(100%);
    --body-bg: #292e39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color:#292E39;
    --top-act-group-shadow:#00000033;
    --top-act-group-separate:#EDEDF6;
}