@use '../abstracts';
html{
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(14%) saturate(6147%) hue-rotate(228deg) brightness(90%) contrast(93%);
    --body-bg: #F6F6F6;
    --header-bg-color: #EEEEEE;
    @include abstracts.screen(lg){
        --header-bg-color: #fff;
        --header-shadow-color:rgba(237, 237, 246, 0.20);
    }
    --top-act-group-bg-color:white;
    --top-act-group-shadow:#EDEDF633;
    --top-act-group-separate:#EDEDF6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color:rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow-color:box-shadow: rgba(200, 200, 200, 0.40);

    // Category item
    --cate-item-bg: #EEE;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md){
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color:#6C6C72;
    --filter-btn-bg:#fff;
    
    // Product card
    --product-card-bg:#fff;
    --product-card-shadow:rgba(237, 237, 246, 0.20);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow:rgba(200, 200, 200, 0.40);
    --filter-form-bg-tag: #F8F8FB;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    // Auth
    --auth-intro-text-color:#1A162E;
    --auth-intro-bg-color: #FAFAFD;
    --auth-content-bg-color: #fff;
    --auth-heading-color:#1A162E;
}

